@let fieldName = field().name;
@let fieldDescription = field().description;

<div class="flex flex-col gap-1 w-full">
  @if (label() !== false) {
    <label class="text-sm" [attr.for]="fieldName">
      <p class="flex items-center gap-1">
        <i [class]="field().icon"></i>
        {{ fieldName }}
        @if (field().required) {
          <i class="icon icon-asterisk text-red-500"></i>
        }
      </p>
      @if (fieldDescription) {
        <p class="text-xs text-surface-500">{{ fieldDescription }}</p>
      }
    </label>
  }
  <input
    pInputText
    #input="ngModel"
    [required]="field().required"
    [invalid]="input.invalid && input.touched"
    [id]="fieldName"
    [placeholder]="placeholder() ?? 'Input here...'"
    [pAutoFocus]="autoFocus()"
    [readonly]="viewOnly()"
    [pKeyFilter]="geoRegex"
    [ngModel]="data() | pointFormat"
    (ngModelChange)="data.set($any($event))"
    fluid
  />
  <p class="text-surface-500 text-xs">Ex: 105.804817, 21.028511</p>
  @if (input.invalid && input.touched) {
    <p-message severity="error" size="small" variant="simple">
      @if (input.hasError('required')) {
        {{ fieldName }} is required.
      }
      @if (input.hasError('pattern')) {
        Please enter a valid geo-point.
      }
    </p-message>
  }
</div>
