$sidebar-width: 20rem;
$chatbot-width: 30rem;
$transition-duration: 0.2s;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .base-studio {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    transition:
      padding-left $transition-duration,
      padding-right $transition-duration;

    &.sidebar--visible {
      padding-left: $sidebar-width;

      .base-studio-sidebar {
        left: 0;
      }
    }

    .base-studio-sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -$sidebar-width;
      width: $sidebar-width;
      transition: left $transition-duration;
    }

    &.chatbot--visible {
      padding-right: $chatbot-width;

      .base-studio-chatbot {
        right: 0;
      }
    }

    .base-studio-chatbot {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -$chatbot-width;
      width: $chatbot-width;
      transition: right $transition-duration;

      &.fullscreen {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
      }
    }
  }
}
