::ng-deep {
  .rich-text-editor-drawer {
    .p-drawer-header {
      border-bottom: 1px solid var(--p-surface-200);
    }

    .p-drawer-content {
      padding-top: 1.25rem;
    }

    .p-drawer-footer {
      border-top: 1px solid var(--p-surface-200);
    }
  }
}
