<p-drawer
  [(visible)]="visible"
  position="right"
  header="Rich Text Editor"
  [modal]="false"
  styleClass="!w-180 rich-text-editor-drawer"
>
  <ng-template #content>
    <p-editor [(ngModel)]="value" [readonly]="viewOnly()" class="h-full !flex flex-col" />
  </ng-template>
  <ng-template #footer>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="cancel()" />
      <p-button label="Save" (click)="save()" />
    </div>
  </ng-template>
</p-drawer>
