<div class="flex flex-col gap-4 w-full h-full">
  <div class="flex flex-wrap justify-between gap-2" [class]="toolbarStyleClass()">
    <div class="flex">
      <div class="flex items-start">
        <ng-container *ngTemplateOutlet="toolbarTmpl()"></ng-container>
        <ng-container *ngTemplateOutlet="leftToolbarTmpl()"></ng-container>
      </div>
    </div>
    <div class="flex">
      <ng-container *ngTemplateOutlet="rightToolbarTmpl()"></ng-container>
      <div class="flex gap-2">
        <p-button
          icon="icon icon-locate-fixed"
          severity="secondary"
          [outlined]="true"
          (click)="getCurrentLocation()"
          pTooltip="Current location"
          tooltipPosition="top"
        />
        <p-inputgroup class="w-3xs max-w-3xs">
          <p-iconfield>
            <p-inputicon class="icon icon-search !z-2" />
            <p-autocomplete
              [suggestions]="suggestions()"
              (completeMethod)="searchAddress($event)"
              (onSelect)="onSelectAddress($event)"
              [delay]="500"
              [panelStyle]="{ 'max-width': '400px', width: '100%' }"
              optionLabel="display_name"
              placeholder="Search location"
              appendTo="body"
            />
          </p-iconfield>
        </p-inputgroup>
      </div>
    </div>
  </div>
  <div class="flex-1" [class]="contentStyleClass()">
    <div #container style="height: 100%; width: 100%"></div>
  </div>
</div>
