@let fieldName = field().name;

<rich-text-editor-drawer
  [(visible)]="visibleRichTextEditor"
  [value]="data()"
  (onSave)="data.set($event)"
/>

<div class="flex flex-col gap-2 w-full">
  @if (label() !== false) {
    <label [attr.for]="fieldName">{{ label() || fieldName }}</label>
  }
  <div class="relative w-full">
    <textarea
      pTextarea
      [attr.id]="fieldName"
      [placeholder]="placeholder() ?? 'Input here...'"
      [pAutoFocus]="autoFocus()"
      [readonly]="viewOnly()"
      [(ngModel)]="data"
      rows="5"
      class="w-full"
    ></textarea>
    <p-button
      icon="icon icon-maximize-2"
      severity="secondary"
      size="small"
      class="absolute top-0.5 right-0.5"
      [text]="true"
      [rounded]="true"
      (click)="visibleRichTextEditor = true"
    />
  </div>
</div>
