/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use 'primeicons/primeicons.css';

html {
  font-size: 14px;
  font-family:
    Inter var,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  line-height: normal;
}

:focus,
:focus-visible {
  outline: none;
}
