/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use 'primeicons/primeicons.css';
@use 'leaflet/dist/leaflet.css';

html {
  font-size: 14px;
  font-family:
    Inter var,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  line-height: normal;
}

:focus,
:focus-visible {
  outline: none;
}

.custom-drawer {
  .p-drawer-header {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--p-surface-200);
  }

  .p-drawer-content {
    padding: 0;
  }

  .p-drawer-footer {
    border-top: 1px solid var(--p-surface-200);
  }

  .p-drawer-title {
    font-size: 1.2rem;
  }
}
