<p-popover #popover appendTo="body">
  <div class="flex gap-2">
    <div class="flex flex-col gap-1">
      <label for="startField" class="text-sm">Start Date</label>
      <p-select
        id="startField"
        [options]="dateColumns"
        optionLabel="name"
        optionValue="name"
        placeholder="Select here..."
        [(ngModel)]="selectedStartField"
        [checkmark]="true"
        class="w-3xs"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="endField" class="text-sm">End Date</label>
      <p-select
        id="endField"
        [options]="dateColumns"
        optionLabel="name"
        optionValue="name"
        placeholder="Select here..."
        [(ngModel)]="selectedEndField"
        [checkmark]="true"
        class="w-3xs"
      />
    </div>
  </div>

  <p-divider />

  <div class="flex justify-end gap-2 flex-1">
    <p-button
      label="Apply changes"
      [disabled]="!selectedStartField || !selectedEndField"
      (click)="onChangeDateRange(); popover.hide()"
    />
  </div>
</p-popover>

<div class="px-[20px] py-[16px] w-full h-full">
  <calendar
    #calendar
    [events]="events()"
    (onDateClick)="onDateClick($event)"
    (onEventClick)="onEventClick($event)"
    (onChangeDateRange)="onChangeDateRange($event)"
  >
    <ng-template #leftToolbar>
      <div class="flex flex-wrap gap-2">
        <div class="flex items-start">
          <ng-template [ngTemplateOutlet]="displayModeTmpl()"></ng-template>
          <div class="flex gap-2">
            @if (isColumnsLoading()) {
              <p-skeleton width="100px" height="33px" />
              <p-skeleton width="165px" height="33px" />
            } @else {
              <p-button label="Insert" icon="icon icon-plus" (click)="addNewRecord()" />
              <p-button severity="secondary" [text]="true" (click)="popover.show($event)">
                <ng-template pTemplate="content">
                  <i class="icon icon-calendar"></i>
                  <span class="p-button-label truncate max-w-3xs">
                    {{
                      selectedStartField && selectedEndField
                        ? selectedStartField + ' - ' + selectedEndField
                        : 'Select Date Fields'
                    }}
                  </span>
                </ng-template>
              </p-button>
            }
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #rightToolbar>
      <div class="flex items-center">
        @if (isRecordsLoading()) {
          <div class="mt-1 mr-4">
            <p-progress-spinner class="w-4! h-4!" strokeWidth="8" />
          </div>
        }
        @if (isColumnsLoading()) {
          <p-skeleton width="90px" height="33px" />
        } @else {
          <filter-option
            [fields]="fields()"
            [items]="records()"
            (onFilter)="onRecordsFiltered($event)"
          />
        }
        <p-divider layout="vertical" class="scale-80" />
      </div>
    </ng-template>
  </calendar>
</div>
