<div class="flex items-start justify-between w-full gap-1">
  @if (data !== undefined && data !== null) {
    <file-list [files]="data" (onDelete)="onDelete($event)" />
  }
  @if (selecting) {
    @if (!readonly) {
      <p-popover
        #popover
        styleClass="file-uploader-popover"
        appendTo="body"
        (onShow)="onPopoverOpen()"
        (onHide)="onPopoverClose()"
      >
        <file-uploader (onUpload)="onUpload($event)" />
      </p-popover>
    }
    <div
      class="hover:bg-surface-50 text-surface-500 cursor-pointer w-5 h-5 rounded-md flex items-center justify-center"
      pTooltip="Upload files"
      tooltipPosition="top"
      (click)="openPopover($event)"
    >
      <i class="icon icon-upload"></i>
    </div>
  }
</div>
