<div class="w-full h-full relative" style="background-color: #f8f8f8">
  <p-scrollpanel #scrollContainer class="w-full h-full">
    @if (messages().length) {
      <div class="px-6 py-8 mb-30">
        <div class="flex flex-col gap-4">
          @for (msg of messages(); track msg.timestamp) {
            <div
              class="flex"
              [ngClass]="{
                'flex-row-reverse': msg.role === 'user',
              }"
            >
              @if (msg.role === 'user') {
                <div class="p-4 rounded-2xl bg-primary text-primary-contrast">
                  <p class="m-0 white-space-pre-wrap">{{ msg.content }}</p>
                </div>
              } @else {
                <div class="leading-6">
                  <p class="m-0 white-space-pre-wrap" [innerHTML]="msg.content | safeHtml"></p>
                </div>
              }
            </div>
          }
        </div>

        @if (isTyping()) {
          <div class="mt-4">
            <p-progress-spinner
              strokeWidth="8"
              fill="transparent"
              animationDuration=".5s"
              [style]="{ width: '20px', height: '20px' }"
            />
          </div>
        }
      </div>
    } @else {
      <div class="w-full h-full flex items-center pt-30 flex flex-col">
        <video
          autoplay
          muted
          loop
          class="w-72 h-72"
          src="assets/animations/chatbot-animation.mp4"
        ></video>
        <div class="text-center">
          <p class="text-2xl font-medium">Ask about your database</p>
          <p class="text-sm text-surface-500">AI responses may be inaccurate.</p>
        </div>
      </div>
    }
  </p-scrollpanel>

  <div
    class="px-4 py-2 bg-white rounded-4xl border-1 border-surface-300 absolute z-1 bottom-8 left-6 right-6 flex gap-3 items-center"
  >
    <p-button icon="icon icon-paperclip" [rounded]="true" [text]="true" severity="secondary" />
    <div
      #editor
      contenteditable="true"
      data-placeholder="How can I help?"
      class="w-full min-w-0 h-fit outline-0 empty:before:content-[attr(data-placeholder)] empty:before:text-surface-500 empty:before:pointer-events-none"
      (input)="onInput($any($event))"
      (keydown.enter)="!isStreaming() ? onEnter($any($event)) : false"
    ></div>
    <p-button
      icon="icon icon-send"
      [rounded]="true"
      [disabled]="!inputText().length || isStreaming()"
      (click)="sendMessage()"
    />
  </div>
</div>
