@let fieldName = field().name;

<json-editor-drawer [(visible)]="visibleJSONEditor" [value]="jsonText" (onSave)="onSave($event)" />

<div class="flex flex-col gap-2 w-full">
  @if (label() !== false) {
    <label [attr.for]="fieldName">{{ label() || fieldName }}</label>
  }
  <div class="relative w-full">
    <textarea
      pTextarea
      [id]="fieldName"
      [placeholder]="placeholder() ?? 'Input here...'"
      [pAutoFocus]="autoFocus()"
      [readonly]="viewOnly()"
      [(ngModel)]="data"
      rows="5"
      fluid
    ></textarea>
    <p-button
      icon="icon icon-maximize-2"
      severity="secondary"
      size="small"
      class="absolute top-0.5 right-0.5"
      [text]="true"
      [rounded]="true"
      (click)="visibleJSONEditor = true"
    />
  </div>
</div>
