<p-toast />
<p-contextmenu #columnMenu [model]="columnMenuItems" appendTo="body" />

<virtual-scroll
  [sideSpacing]="config.sideSpacing"
  [disable]="disableScroll"
  (scrolling)="onScrolling()"
>
  <!-- Header -->
  <div
    class="spreadsheet__header"
    cdkDropList
    cdkDropListSortingDisabled
    cdkDropListAutoScrollDisabled
    (cdkDropListDropped)="onColumnDropped($event)"
  >
    <div
      #dragBoundary
      style="position: absolute; height: 1px; opacity: 0; visibility: hidden; pointer-events: none"
      [style.left.px]="-virtualScroll.viewport.width / 2"
      [style.right.px]="-virtualScroll.viewport.width / 2"
      [style.width.px]="virtualScroll.viewport.width * 2"
    ></div>
    <ng-template #headerCellTemplate let-column="column" let-columnIndex="columnIndex">
      <div
        class="header-cell cell"
        #headerCell
        safe-area
        virtualScrollAutoScrollHolder="horizontal"
        [attr.data-column-id]="column.id"
        [attr.data-column-index]="columnIndex"
        [style.width.px]="column.width"
        [style.minWidth.px]="column.width"
        [style.maxWidth.px]="column.width"
        [style.zIndex]="state.displayingColumns?.length - columnIndex"
        [class.cdk-drag-placeholder]="column._isDragging"
        [class.cell--active]="layoutProperties.column.selection?.has(columnIndex)"
        [class.cell--highlight]="column.highlight"
        [class.header-cell--grouping]="!isDataStreaming && column.groupingType"
        [class.header-cell--sorting]="!isDataStreaming && column.sortingType"
        [class.header-cell--resizing]="column._isResizing"
        cdkDrag
        cdkDragLockAxis="x"
        cdkDragPreviewClass="column-drag-preview"
        [cdkDragBoundary]="dragBoundary"
        [cdkDragDisabled]="!config.column.arrangeable"
        (cdkDragStarted)="onColumnDragStarted($event, column)"
        (cdkDragEnded)="onColumnDragEnded($event, column)"
        (cdkDragMoved)="onColumnDragMoved($event)"
        mwlResizable
        (resizing)="onColumnResizing($event, column, columnIndex)"
        (resizeEnd)="onColumnResized($event, column)"
        (click)="!column._isResizing && selectColumn($event, columnIndex)"
        (contextmenu)="openColumnMenu($event, column, columnIndex)"
      >
        <div
          class="header-cell cell"
          #headerCell
          *cdkDragPlaceholder
          [style.width.px]="column.width"
          [style.minWidth.px]="column.width"
          [style.maxWidth.px]="column.width"
        >
          @if (column.field.required) {
            <i class="pi pi-asterisk text-red-500" style="font-size: 6px"></i>
          }
          <div
            class="text-sm white-space-nowrap overflow-hidden text-overflow-ellipsis flex-1"
            [attr.title]="column.field.name"
          >
            {{ column.field.name }}
          </div>
          @if (column.field.description?.length) {
            <i
              class="pi pi-info-circle"
              style="color: #6c757d; font-size: 16px"
              [pTooltip]="column.field.description"
            ></i>
          }
        </div>
        <div
          class="header-cell cell"
          #headerCell
          *cdkDragPreview
          [style.width.px]="column.width"
          [style.minWidth.px]="column.width"
          [style.maxWidth.px]="column.width"
          [style.height.px]="elementRef.nativeElement.clientHeight"
          [style.minHeight.px]="elementRef.nativeElement.clientHeight"
          [style.maxHeight.px]="elementRef.nativeElement.clientHeight"
        >
          @if (column.field.required) {
            <i class="pi pi-asterisk text-red-500" style="font-size: 6px"></i>
          }
          <div
            class="text-sm white-space-nowrap overflow-hidden text-overflow-ellipsis flex-1"
            [attr.title]="column.field.name"
          >
            {{ column.field.name }}
          </div>
          <div class="flex flex-row gap-2 align-items-start justify-content-center">
            @if (column.field.description?.length) {
              <i
                class="pi pi-info-circle"
                style="color: #6c757d; font-size: 16px"
                [pTooltip]="column.field.description"
              ></i>
            }
          </div>
        </div>
        @if (column.field.required) {
          <i class="pi pi-asterisk text-red-500" style="font-size: 6px"></i>
        }
        <div
          class="text-sm white-space-nowrap overflow-hidden text-overflow-ellipsis flex-1"
          [attr.title]="column.field.name"
        >
          {{ column.field.name }}
        </div>
        @if (column.field.description?.length) {
          <i
            class="pi pi-info-circle"
            style="color: #6c757d; font-size: 16px"
            [pTooltip]="column.field.description"
          ></i>
        }
        @if (config.column.resizable) {
          <div
            class="header-cell__resize-handle"
            mwlResizeHandle
            [resizeEdges]="{ right: config.column.resizable }"
            pTooltip="Resize column"
            (mousedown)="$event.stopPropagation()"
            (mouseenter)="
              layoutProperties.freezeDivider.isHideHeadLine = columnIndex === state.freezeIndex
            "
            (mouseleave)="layoutProperties.freezeDivider.isHideHeadLine = false"
          ></div>
        }
      </div>
    </ng-template>
    <div class="pane pane-left" [style.width.px]="virtualScroll.scrollDivideOffset">
      <div
        class="pane-content box box-left box--radius flex flex-row"
        [style.left.px]="config.sideSpacing"
        [style.width.px]="virtualScroll.viewport.leftWidth"
      >
        <div class="header-cell cell index-cell">
          <div class="index-block">
            <p-checkbox
              [binary]="true"
              [ngModel]="
                selectedRows.size > 0 && rows?.length > 0 && selectedRows.size === rows.length
              "
              (ngModelChange)="$event ? selectAllRows() : deselectAllRows()"
            ></p-checkbox>
          </div>
        </div>
        @for (column of leftColumns; let columnIndex = $index; track column) {
          <ng-container
            *ngTemplateOutlet="headerCellTemplate; context: { column, columnIndex }"
          ></ng-container>
        }
      </div>
    </div>
    <div
      class="pane pane-right"
      [style.left.px]="virtualScroll.scrollDivideOffset"
      [class.hide]="!virtualScroll.viewport.leftWidth"
    >
      <div
        class="pane-content box box-right box--radius flex flex-row"
        [style.width.px]="virtualScroll.viewport.rightWidth"
        [style.transform]="'translate3d(' + -virtualScroll.scrollLeft + 'px, 0, 0)'"
      >
        @for (column of rightColumns; let columnIndex = $index; track column) {
          <ng-container
            *ngTemplateOutlet="
              headerCellTemplate;
              context: { column, columnIndex: state.freezeIndex + columnIndex + 1 }
            "
          ></ng-container>
        }
        @if (config.column.creatable) {
          <div class="header-cell cell header-action-cell cursor">
            <i class="pi pi-plus-circle"></i>
          </div>
        }
      </div>
    </div>
  </div>

  <!-- Body -->
  <div
    class="spreadsheet__body"
    virtualScrollViewport
    [leftColumns]="leftColumns"
    [rightColumns]="rightColumns"
    [rows]="rows"
    [rootGroup]="rootGroup"
    [rowHeight]="state.rowHeight"
  >
    <div class="pane pane-left" [style.width.px]="virtualScroll.scrollDivideOffset">
      <div
        class="pane-content"
        [style.left.px]="config.sideSpacing"
        [style.width.px]="virtualScroll.viewport.leftWidth"
        [style.height.px]="virtualScroll.viewport.contentHeight"
        [style.transform]="'translate3d(0,' + -virtualScroll.scrollTop + 'px, 0)'"
      >
        <div
          virtualScrollLeftContentWrapper
          [style.height.px]="virtualScroll.viewport.contentHeight"
          [ngClass]="{
            'box box-left box--radius': !state.isGrouping || state.isGroupingWithoutGroup,
          }"
        >
          <!-- group-left -->
          <ng-container
            *virtualScrollGroupRepeater="
              undefined;
              let group;
              let groupIndex = index;
              let groupRect = rect
            "
          >
            <div
              class="group box group-left box-left"
              [attr.data-group-id]="group.id"
              [attr.data-group-index]="groupIndex"
              [style.left.px]="groupRect.left"
              [style.top.px]="groupRect.top"
              [style.height.px]="groupRect.height"
              [class.group-first-depth]="group.depth === 1"
              [class.group-last-depth]="group.depth === state.groupDepth"
              [class.group--collapsed]="group.metadata.isCollapsed"
              [class.box--radius]="group.depth === 1"
            >
              <div class="group__header">
                <div class="group-cell cell index-cell" cell-type="group">
                  <div class="index-block">
                    <p-button
                      [icon]="group.metadata.isCollapsed ? 'chevron-right' : 'chevron-down'"
                      (click)="toggleGroup(group)"
                    />
                  </div>
                </div>
                <ng-container
                  *virtualScrollColumnRepeater="
                    virtualScroll.viewport.leftWrapper.columns;
                    cacheSize: 0;
                    let column;
                    let columnIndex = index;
                    let columnRect = rect
                  "
                >
                  <ng-container
                    *ngIf="columnIndex === 0 && state.freezeIndex >= 0; else notFreezeLeftGroupCell"
                  >
                    <div
                      class="group-cell cell"
                      cell-type="group"
                      [style.left.px]="columnRect.left"
                      [style.width.px]="columnRect.width - config.column.minResizeWidth"
                      [style.minWidth.px]="columnRect.width - config.column.minResizeWidth"
                      [style.maxWidth.px]="columnRect.width - config.column.minResizeWidth"
                    >
                      @if (group.metadata?.isEmpty) {
                        <label>(Empty)</label>
                      } @else {
                        | {{ group.metadata.data }}
                      }
                    </div>
                    <div
                      class="group-cell cell"
                      cell-type="group"
                      [style.left.px]="
                        columnRect.left + columnRect.width - config.column.minResizeWidth
                      "
                      [style.width.px]="config.column.minResizeWidth"
                      [style.minWidth.px]="config.column.minResizeWidth"
                      [style.maxWidth.px]="config.column.minResizeWidth"
                    >
                      @if (!virtualScroll.isLongScrollingY) {
                        <ng-container
                          *ngTemplateOutlet="
                            calculationBlockTemplate;
                            context: {
                              column,
                              calculatedResult: group.metadata.calculatedResult?.get(column.id),
                            }
                          "
                        ></ng-container>
                      }
                    </div>
                  </ng-container>
                  <ng-template #notFreezeLeftGroupCell>
                    <div
                      class="group-cell cell"
                      cell-type="group"
                      [style.left.px]="columnRect.left"
                      [style.width.px]="columnRect.width"
                      [style.minWidth.px]="columnRect.width"
                      [style.maxWidth.px]="columnRect.width"
                    >
                      @if (!virtualScroll.isLongScrollingY) {
                        <ng-container
                          *ngTemplateOutlet="
                            calculationBlockTemplate;
                            context: {
                              column,
                              calculatedResult: group.metadata.calculatedResult?.get(column.id),
                            }
                          "
                        ></ng-container>
                      }
                    </div>
                  </ng-template>
                </ng-container>
              </div>
              @if (!group.children) {
                <div class="group__body">
                  <div
                    class="blank-row"
                    [class.row--hover]="layoutProperties.row.blankRowHover === group.id"
                    (pointerenter)="onBlankRowHover($event, group.id)"
                  >
                    <div
                      class="row-cell cell index-cell"
                      cell-type="row"
                      [attr.disabled]="isDataStreaming"
                      (click)="addRow(group)"
                    >
                      <i class="pi pi-plus-circle"></i>
                    </div>
                    <div class="row-cell cell" cell-type="row"></div>
                  </div>
                </div>
              }
            </div>
          </ng-container>
          <!-- row-left -->
          <ng-container
            *virtualScrollRowRepeater="
              undefined;
              let row;
              let rowIndex = index;
              let rowGroupIndex = indexInGroup;
              let rowRect = rect;
              let group = group
            "
          >
            <div
              class="row"
              virtualScrollAutoScrollHolder="vertical"
              [attr.data-row-index]="rowIndex"
              [attr.data-row-id]="row.id"
              [attr.row-size]="config.row.size"
              [style.top.px]="rowRect.top"
              [style.height.px]="rowRect.height"
              [class.row--selecting]="row.selected"
              [class.row--drafting]="row === draftRow"
              [class.row--hover]="layoutProperties.cell.hovering?.rowIndex === rowIndex"
              [style.left.px]="rowRect.left"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragPreviewClass="row-drag-preview"
              [cdkDragData]="row"
              [cdkDragDisabled]="!config.row.arrangeable"
              (cdkDragStarted)="onRowDragStarted($event)"
              (cdkDragMoved)="onRowDragMoved($event)"
              (cdkDragEnded)="onRowDragEnded($event)"
            >
              @if (virtualScroll.isLongScrollingY) {
                <div class="row-cell cell index-cell" cell-type="row">
                  <div class="h-fit-content">
                    <div class="index-block">
                      <div class="row__index-handle">
                        {{ rowIndex + config.row.startIndex + 1 }}
                      </div>
                    </div>
                  </div>
                </div>
              } @else {
                <div
                  class="row-cell cell index-cell"
                  cell-type="row"
                  [class.cell--active]="
                    row.selected ||
                    (!layoutProperties.column.selection &&
                      layoutProperties.cell.selection &&
                      layoutProperties.cell.selection.count === 1 &&
                      layoutProperties.cell.selection.primary.rowIndex === rowIndex)
                  "
                  (pointerenter)="onCellHover($event, { rowIndex, columnIndex: -1 })"
                >
                  <div
                    class="flex flex-row align-items-start justify-content-center h-fit-content"
                    style="height: fit-content"
                  >
                    @if (config.row.arrangeable) {
                      <div class="row__drag-handle" cdkDragHandle>
                        <img src="/icons/drag-dots.svg" />
                      </div>
                    }
                    <div class="index-block">
                      @if (row === draftRow) {
                        <a safe-area class="text-xs" (click)="cancelDraftRow()">Cancel</a>
                      } @else {
                        <div class="row__index-handle">
                          {{ rowIndex + config.row.startIndex + 1 }}
                        </div>
                      }
                      @if (config.row.selectable) {
                        <div class="row__select-handle">
                          <p-checkbox
                            [binary]="true"
                            [ngModel]="row.selected"
                            (ngModelChange)="toggleRow(row)"
                          ></p-checkbox>
                        </div>
                      }
                    </div>
                    @if (config.row.expandable) {
                      <div class="row__expand-handle">
                        <i
                          class="pi pi-external-link cursor-pointer"
                          style="color: var(--p-surface-500); font-size: 12px"
                          pTooltip="Xem chi tiết"
                          (click)="expandRow(row)"
                        ></i>
                      </div>
                    }
                  </div>
                </div>
              }
              <ng-container
                *virtualScrollColumnRepeater="
                  virtualScroll.viewport.leftWrapper.columns;
                  cacheSize: 0;
                  let column;
                  let columnIndex = index;
                  let columnRect = rect
                "
              >
                @if (virtualScroll.isLongScrollingY) {
                  <div
                    class="row-cell cell"
                    safe-area
                    virtualScrollAutoScrollHolder
                    cell-type="row"
                    [style.left.px]="columnRect.left"
                    [style.width.px]="columnRect.width"
                    [style.minWidth.px]="columnRect.width"
                    [style.maxWidth.px]="columnRect.width"
                  ></div>
                } @else {
                  <div
                    class="row-cell cell"
                    safe-area
                    virtualScrollAutoScrollHolder
                    [attr.data-row-id]="row.id"
                    [attr.data-column-id]="column.id"
                    [attr.data-row-index]="rowIndex"
                    [attr.data-column-index]="columnIndex"
                    [class.cdk-drag-placeholder]="column._isDragging"
                    [class.cell--active]="
                      row.selected ||
                      (!layoutProperties.column.selection &&
                        layoutProperties.cell.selection &&
                        layoutProperties.cell.selection.count === 1 &&
                        layoutProperties.cell.selection.primary.rowIndex === rowIndex) ||
                      (layoutProperties.cell.selection &&
                        layoutProperties.cell.selection.start.rowIndex <= rowIndex &&
                        layoutProperties.cell.selection.start.columnIndex <= columnIndex &&
                        layoutProperties.cell.selection.end.rowIndex >= rowIndex &&
                        layoutProperties.cell.selection.end.columnIndex >= columnIndex) ||
                      layoutProperties.column.selection?.has(columnIndex)
                    "
                    [class.cell--highlight]="
                      column.highlight ||
                      layoutProperties.cell.searching?.found?.get(row.id)?.has(column.id)
                    "
                    [class.cell--filling]="
                      layoutProperties.cell.filling &&
                      layoutProperties.cell.filling.start.rowIndex <= rowIndex &&
                      layoutProperties.cell.filling.start.columnIndex <= columnIndex &&
                      layoutProperties.cell.filling.end.rowIndex >= rowIndex &&
                      layoutProperties.cell.filling.end.columnIndex >= columnIndex
                    "
                    [class.cell--focusing]="
                      layoutProperties.cell.focusing &&
                      layoutProperties.cell.focusing.rowIndex === rowIndex &&
                      layoutProperties.cell.focusing.columnIndex === columnIndex
                    "
                    [class.cell--error]="row?.error?.[column.id]"
                    [class.cell--invalid]="
                      layoutProperties.cell.invalid &&
                      layoutProperties.cell.invalid.rowIndex === rowIndex &&
                      layoutProperties.cell.invalid.columnIndex === columnIndex
                    "
                    [class.row-cell--selecting]="
                      layoutProperties.cell.selection &&
                      layoutProperties.cell.selection.primary.rowIndex === rowIndex &&
                      layoutProperties.cell.selection.primary.columnIndex === columnIndex
                    "
                    (pointerenter)="onCellHover($event, { rowIndex, columnIndex })"
                    cell-type="row"
                    [style.left.px]="columnRect.left"
                    [style.width.px]="column.width"
                    [style.minWidth.px]="column.width"
                    [style.maxWidth.px]="column.width"
                  >
                    <ng-template
                      fieldCellFactory
                      [row]="row"
                      [column]="column"
                      [field]="column.field"
                      [data]="row.data?.[column.id] ?? null"
                      [readonly]="
                        row !== draftRow &&
                        ((isDataStreaming && !$any(row)._isStreamed) ||
                          (!column.editable &&
                            row.editable !== true &&
                            row.editable?.[column.id] !== true))
                      "
                      [selecting]="
                        !!layoutProperties.cell.selection &&
                        layoutProperties.cell.selection.primary.rowIndex === rowIndex &&
                        layoutProperties.cell.selection.primary.columnIndex === columnIndex
                      "
                    ></ng-template>
                  </div>
                }
              </ng-container>
            </div>
          </ng-container>
          @if (!state.isGrouping || state.isGroupingWithoutGroup) {
            @if (state.canAddRow) {
              <div
                class="row blank-row"
                [attr.disabled]="isDataStreaming || layoutProperties.cell.selection"
                [class.row--hover]="layoutProperties.row.blankRowHover === 'default'"
                (pointerenter)="onBlankRowHover($event)"
              >
                <div
                  class="row-cell cell index-cell"
                  cell-type="row"
                  [attr.disabled]="isDataStreaming"
                  (click)="addRow()"
                >
                  <i class="pi pi-plus-circle" style="margin-left: 11px"></i>
                </div>
                <div class="row-cell cell" cell-type="row"></div>
              </div>
            } @else {
              <div
                class="row blank-row"
                [class.row--hover]="layoutProperties.row.blankRowHover === 'default'"
                (pointerenter)="onBlankRowHover($event)"
              ></div>
            }
          }
        </div>
      </div>
    </div>
    <div
      class="pane pane-right"
      [style.left.px]="virtualScroll.scrollDivideOffset"
      [class.hide]="!virtualScroll.viewport.leftWidth"
    >
      <div
        class="pane-content"
        [style.width.px]="virtualScroll.viewport.rightWidth"
        [style.transform]="
          'translate3d(' + -virtualScroll.scrollLeft + 'px,' + -virtualScroll.scrollTop + 'px, 0)'
        "
        [style.height.px]="virtualScroll.viewport.contentHeight"
      >
        <div
          virtualScrollRightContentWrapper
          [style.height.px]="virtualScroll.viewport.contentHeight"
          [ngClass]="{
            'box box-right box--radius': !state.isGrouping || state.isGroupingWithoutGroup,
          }"
        >
          <!-- group-right -->
          <ng-container
            *virtualScrollGroupRepeater="
              undefined;
              let group;
              let groupIndex = index;
              let groupRect = rect
            "
          >
            <div
              class="group box group-right box-right"
              [attr.data-group-id]="group.id"
              [attr.data-group-index]="groupIndex"
              [style.right.px]="groupRect.right"
              [style.top.px]="groupRect.top"
              [style.height.px]="groupRect.height"
              [class.group-first-depth]="group.depth === 1"
              [class.group-last-depth]="group.depth === state.groupDepth"
              [class.group--collapsed]="group.metadata.isCollapsed"
              [class.box--radius]="group.depth === 1"
            >
              <div class="group__header">
                <ng-container
                  *virtualScrollColumnRepeater="
                    virtualScroll.viewport.rightWrapper.columns;
                    let column;
                    let columnIndex = index;
                    let columnRect = rect
                  "
                >
                  <div
                    class="group-cell cell"
                    cell-type="group"
                    [style.left.px]="columnRect.left"
                    [style.width.px]="columnRect.width"
                    [style.minWidth.px]="columnRect.width"
                    [style.maxWidth.px]="columnRect.width"
                  >
                    @if (!virtualScroll.isLongScrollingY) {
                      <ng-container
                        *ngTemplateOutlet="
                          calculationBlockTemplate;
                          context: {
                            column,
                            calculatedResult: group.metadata.calculatedResult?.get(column.id),
                          }
                        "
                      ></ng-container>
                    }
                  </div>
                </ng-container>
              </div>
              @if (!group.children) {
                <div class="group__body">
                  <div
                    class="blank-row"
                    [class.row--hover]="layoutProperties.row.blankRowHover === group.id"
                    (pointerenter)="onBlankRowHover($event, group.id)"
                  >
                    <div class="row-cell cell" cell-type="row"></div>
                  </div>
                </div>
              }
            </div>
          </ng-container>
          <!-- row-right -->
          <ng-container
            *virtualScrollRowRepeater="
              undefined;
              let row;
              let rowIndex = index;
              let rowGroupIndex = indexInGroup;
              let rowRect = rect;
              let group = group
            "
          >
            <div
              class="row"
              [style.right.px]="rowRect.right"
              virtualScrollAutoScrollHolder="vertical"
              [attr.data-row-index]="rowIndex"
              [attr.data-row-id]="row.id"
              [attr.row-size]="config.row.size"
              [style.top.px]="rowRect.top"
              [style.height.px]="rowRect.height"
              [class.row--selecting]="row.selected"
              [class.row--drafting]="row === draftRow"
              [class.row--hover]="layoutProperties.cell.hovering?.rowIndex === rowIndex"
            >
              <ng-container
                *virtualScrollColumnRepeater="
                  virtualScroll.viewport.rightWrapper.columns;
                  startIndex: state.freezeIndex + 1;
                  let column;
                  let columnIndex = index;
                  let columnRect = rect
                "
              >
                @if (virtualScroll.isLongScrollingY) {
                  <div
                    class="row-cell cell"
                    safe-area
                    virtualScrollAutoScrollHolder
                    cell-type="row"
                    [style.left.px]="columnRect.left"
                    [style.width.px]="columnRect.width"
                    [style.minWidth.px]="columnRect.width"
                    [style.maxWidth.px]="columnRect.width"
                  ></div>
                } @else {
                  <div
                    class="row-cell cell"
                    safe-area
                    virtualScrollAutoScrollHolder
                    [attr.data-row-id]="row.id"
                    [attr.data-column-id]="column.id"
                    [attr.data-row-index]="rowIndex"
                    [attr.data-column-index]="columnIndex"
                    [class.cdk-drag-placeholder]="column._isDragging"
                    [class.cell--active]="
                      row.selected ||
                      (!layoutProperties.column.selection &&
                        layoutProperties.cell.selection &&
                        layoutProperties.cell.selection.count === 1 &&
                        layoutProperties.cell.selection.primary.rowIndex === rowIndex) ||
                      (layoutProperties.cell.selection &&
                        layoutProperties.cell.selection.start.rowIndex <= rowIndex &&
                        layoutProperties.cell.selection.start.columnIndex <= columnIndex &&
                        layoutProperties.cell.selection.end.rowIndex >= rowIndex &&
                        layoutProperties.cell.selection.end.columnIndex >= columnIndex) ||
                      layoutProperties.column.selection?.has(columnIndex)
                    "
                    [class.cell--highlight]="
                      column.highlight ||
                      layoutProperties.cell.searching?.found?.get(row.id)?.has(column.id)
                    "
                    [class.cell--filling]="
                      layoutProperties.cell.filling &&
                      layoutProperties.cell.filling.start.rowIndex <= rowIndex &&
                      layoutProperties.cell.filling.start.columnIndex <= columnIndex &&
                      layoutProperties.cell.filling.end.rowIndex >= rowIndex &&
                      layoutProperties.cell.filling.end.columnIndex >= columnIndex
                    "
                    [class.cell--focusing]="
                      layoutProperties.cell.focusing &&
                      layoutProperties.cell.focusing.rowIndex === rowIndex &&
                      layoutProperties.cell.focusing.columnIndex === columnIndex
                    "
                    [class.cell--error]="row?.error?.[column.id]"
                    [class.cell--invalid]="
                      layoutProperties.cell.invalid &&
                      layoutProperties.cell.invalid.rowIndex === rowIndex &&
                      layoutProperties.cell.invalid.columnIndex === columnIndex
                    "
                    [class.row-cell--selecting]="
                      layoutProperties.cell.selection &&
                      layoutProperties.cell.selection.primary.rowIndex === rowIndex &&
                      layoutProperties.cell.selection.primary.columnIndex === columnIndex
                    "
                    (pointerenter)="onCellHover($event, { rowIndex, columnIndex })"
                    cell-type="row"
                    [style.left.px]="columnRect.left"
                    [style.width.px]="column.width"
                    [style.minWidth.px]="column.width"
                    [style.maxWidth.px]="column.width"
                  >
                    <ng-template
                      fieldCellFactory
                      [row]="row"
                      [column]="column"
                      [field]="column.field"
                      [data]="row.data?.[column.id] ?? null"
                      [readonly]="
                        row !== draftRow &&
                        ((isDataStreaming && !$any(row)._isStreamed) ||
                          (!column.editable &&
                            row.editable !== true &&
                            row.editable?.[column.id] !== true))
                      "
                      [selecting]="
                        !!layoutProperties.cell.selection &&
                        layoutProperties.cell.selection.primary.rowIndex === rowIndex &&
                        layoutProperties.cell.selection.primary.columnIndex === columnIndex
                      "
                    ></ng-template>
                  </div>
                }
              </ng-container>
            </div>
          </ng-container>
          @if (!state.isGrouping || state.isGroupingWithoutGroup) {
            @if (state.canAddRow) {
              <div
                class="row blank-row"
                [attr.disabled]="isDataStreaming || layoutProperties.cell.selection"
                [class.row--hover]="layoutProperties.row.blankRowHover === 'default'"
                (pointerenter)="onBlankRowHover($event)"
              >
                <div class="row-cell cell" cell-type="row"></div>
              </div>
            } @else {
              <div
                class="row blank-row"
                [class.row--hover]="layoutProperties.row.blankRowHover === 'default'"
                (pointerenter)="onBlankRowHover($event)"
              ></div>
            }
          }
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  @if (config.column.calculable) {
    <div class="spreadsheet__footer">
      <ng-template #footerCellTempTemplate let-column="column" let-columnIndex="columnIndex">
        <div
          class="footer-cell cell"
          [attr.data-column-id]="column.id"
          [attr.data-column-index]="columnIndex"
          [style.width.px]="column.width"
          [style.minWidth.px]="column.width"
          [style.maxWidth.px]="column.width"
        >
          <ng-container
            *ngTemplateOutlet="
              calculationBlockTemplate;
              context: {
                column,
                calculatedResult: (state.isGrouping
                  ? rootGroup.metadata.calculatedResult
                  : calculatedResult
                )?.get(column.id),
              }
            "
          ></ng-container>
        </div>
      </ng-template>
      <div class="pane pane-left" [style.width.px]="virtualScroll.scrollDivideOffset">
        <div
          class="pane-content flex flex-row full-height"
          style="height: 100%"
          [style.left.px]="config.sideSpacing"
          [style.width.px]="virtualScroll.viewport.leftWidth"
        >
          <div class="footer-cell cell index-cell">
            @if (isDataStreaming) {
              <p-skeleton
                height="24px"
                width="100px"
                styleClass="h-24"
                borderRadius="8px"
                style="margin-bottom: 0"
              ></p-skeleton>
            } @else {
              <div class="summary-block">
                <div class="summary-block__content">
                  {{ rows?.length || 0 }}
                  @if (!isHideSummaryLabel) {
                    rows
                  }
                </div>
                <div
                  class="summary-block__btn-toggle"
                  (click)="isHideSummaryLabel = !isHideSummaryLabel"
                >
                  <i
                    class="pi"
                    [ngClass]="isHideSummaryLabel ? 'pi-chevron-right' : 'pi-chevron-left'"
                    style="font-size: 9px"
                  ></i>
                </div>
              </div>
            }
          </div>
          @for (column of leftColumns; let columnIndex = $index; track column) {
            <ng-container
              *ngTemplateOutlet="footerCellTempTemplate; context: { column, columnIndex }"
            ></ng-container>
          }
        </div>
      </div>
      <div
        class="pane pane-right"
        [style.left.px]="virtualScroll.scrollDivideOffset"
        [class.hide]="!virtualScroll.viewport.leftWidth"
      >
        <div
          class="pane-content flex flex-row full-height"
          style="height: 100%"
          [style.width.px]="virtualScroll.viewport.rightWidth"
          [style.transform]="'translate3d(' + -virtualScroll.scrollLeft + 'px, 0, 0)'"
        >
          @for (column of rightColumns; let columnIndex = $index; track column) {
            <ng-container
              *ngTemplateOutlet="
                footerCellTempTemplate;
                context: { column, columnIndex: state.freezeIndex + columnIndex + 1 }
              "
            ></ng-container>
          }
        </div>
      </div>
    </div>
  }

  <!-- Freeze divider -->
  @if (config.column.freezable || state.freezeIndex !== null) {
    @let isHideHeadLine =
      layoutProperties.freezeDivider.isHideHeadLine ||
      $any(displayingColumns?.[state.freezeIndex])?._isResizing;
    @let bodyLineHeight =
      virtualScroll.viewport.height + virtualScroll.scrollTop > virtualScroll.viewport.contentHeight
        ? virtualScroll.viewport.contentHeight -
          virtualScroll.scrollTop +
          Dimension.BodyVerticalPadding
        : virtualScroll.viewport.height;
    <div
      class="freeze-divider"
      cdkDrag
      cdkDragLockAxis="x"
      [style.left.px]="virtualScroll.scrollDivideOffset"
      [class.freeze-divider--hover]="layoutProperties.freezeDivider.isHover"
      [class.freeze-divider--dragging]="layoutProperties.freezeDivider.dragging"
      [class.freeze-divider--disabled]="!config.column.freezable || isHideHeadLine"
      [cdkDragDisabled]="!config.column.freezable"
      (cdkDragStarted)="onFreezeDividerDragStarted()"
      (cdkDragMoved)="onFreezeDividerDragMoved($event)"
      (cdkDragEnded)="onFreezeDividerDragEnded($event)"
    >
      <div
        class="freeze-divider__line freeze-divider__head-line"
        [class.hide]="isHideHeadLine"
      ></div>
      <div
        class="freeze-divider__line freeze-divider__body-line"
        cdkDragHandle
        [style.height.px]="bodyLineHeight"
        [class.hide]="!virtualScroll.viewport.contentHeight"
        (mousemove)="onFreezeDividerMousemove($event)"
        (mouseleave)="onFreezeDividerMouseleave()"
      >
        <span
          class="freeze-divider__drag-handle"
          [style.transform]="
            'translate3d(0,' + layoutProperties.freezeDivider.dragHandleOffset + 'px, 0)'
          "
        ></span>
      </div>
      @if (config.column.calculable) {
        <div class="freeze-divider__line freeze-divider__foot-line"></div>
      }
    </div>
    @if (layoutProperties.freezeDivider.dragging) {
      <div
        class="freeze-divider-drag-placeholder"
        [style.height.px]="bodyLineHeight + Dimension.HeaderHeight"
        [style.transform]="
          'translate3d(' + layoutProperties.freezeDivider.dragging.offset + 'px, 0, 0)'
        "
      ></div>
      <div class="freeze-divider-drag-overlay"></div>
    }
  }

  <!-- Fill handler -->
  @if (state.canFillCell) {
    <div class="fill-handler-wrapper">
      @if (layoutProperties.fillHandler?.offset) {
        <div
          class="fill-handler"
          #fillHanlder
          safe-area
          virtualScrollAutoScrollHolder="vertical"
          [style.left.px]="layoutProperties.fillHandler.offset.left"
          [style.top.px]="layoutProperties.fillHandler.offset.top"
          [class.hide]="layoutProperties.fillHandler.hidden || state.isFocusedInputInCellEditor"
        ></div>
      }
    </div>
  }
</virtual-scroll>

<!-- Empty block -->
@if (!rows?.length) {
  <div class="empty-block">
    <ng-content select="[emptyBlock]"></ng-content>
  </div>
}

<!-- Column drag placeholder -->
@if (
  layoutProperties.column.dragPlaceholderIndex !== undefined &&
  layoutProperties.column.dragPlaceholderIndex !== null
) {
  <div
    class="column-drag-placeholder"
    [style.transform]="'translate3d(' + layoutProperties.column.dragPlaceholderOffset + 'px, 0, 0)'"
  ></div>
  <div class="column-drag-overlay"></div>
}

<!-- Row drag placeholder -->
@if (
  layoutProperties.row.dragPlaceholderIndex !== undefined &&
  layoutProperties.row.dragPlaceholderIndex !== null
) {
  <div
    class="row-drag-placeholder"
    [style.transform]="'translate3d(0, ' + layoutProperties.row.dragPlaceholderOffset + 'px, 0)'"
  >
    <p-chip
      style="margin-top: -10px; margin-left: 10px"
      [label]="(selectedRows.size || '1') + ' rows'"
    />
  </div>
  <div class="row-drag-overlay"></div>
}

<!-- Calculation -->
<ng-template #calculationBlockTemplate let-column="column" let-calculatedResult="calculatedResult">
  @if (config.column.calculable) {
    <div class="calculation-block" [class.calculation-block--active]="column.calculateType">
      <i class="pi pi-calculator text-sm"></i>
      @if (column.calculateType) {
        <div
          class="white-space-nowrap overflow-hidden text-overflow-ellipsis"
          title="column.calculateType"
        >
          {{ column.calculateType }}:
        </div>
        <b>
          @if (isDataStreaming) {
            <span class="white-space-nowrap overflow-hidden text-overflow-ellipsis"
              >Calculating...</span
            >
          } @else {
            {{ calculatedResult | calculatingResult: column.calculateType : column.field }}
          }
        </b>
      } @else {
        Calculate
      }
    </div>
  }
  @if (!config.column.calculable && column.calculateType) {
    <div class="calculation-block calculation-block--viewonly">
      <div
        class="white-space-nowrap overflow-hidden text-overflow-ellipsis"
        title="column.calculateType"
      >
        {{ column.calculateType }}:
      </div>
      <b>
        @if (isDataStreaming) {
          <span class="white-space-nowrap overflow-hidden text-overflow-ellipsis"
            >Calculating...</span
          >
        } @else {
          {{ calculatedResult | calculatingResult: column.calculateType : column.field }}
        }
      </b>
    </div>
  }
</ng-template>
