:host {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: inherit;

  ::ng-deep {
    .cm-editor {
      height: 100%;
      width: 100%;
      border-radius: inherit;

      &.cm-focused {
        outline: none;
      }
    }
  }
}
