<p-popover #popover>
  <ng-template #content>
    <div class="w-2xl max-w-2xl">
      <div class="overflow-y-auto max-h-150">
        <filter-group [(group)]="query" [fields]="fields()" />
      </div>

      <p-divider />

      <div class="flex items-center justify-between">
        <div class="flex justify-end gap-2 flex-1">
          <p-button
            label="Reset"
            severity="secondary"
            [text]="true"
            (click)="reset(); popover.hide()"
          />
          <p-button
            label="Apply changes"
            [disabled]="!totalRules()"
            (click)="applyChanges(); popover.hide()"
          />
        </div>
      </div>
    </div>
  </ng-template>
</p-popover>

<p-button
  [label]="
    totalRules() === 1
      ? `Filtered by 1 rule`
      : totalRules() > 1
        ? `Filtered by ${totalRules()} rules`
        : 'Filter'
  "
  icon="icon icon-list-filter"
  variant="text"
  [severity]="totalRules() ? 'success' : 'secondary'"
  (click)="popover.show($event)"
/>
