@let fieldName = field().name;
@let fieldDescription = field().description;

<div class="flex flex-col gap-1 w-full">
  @if (label() !== false) {
    <label class="text-sm" [attr.for]="fieldName">
      <p class="flex items-center gap-1">
        <i [class]="field().icon"></i>
        {{ fieldName }}
      </p>
      @if (fieldDescription) {
        <p class="text-xs text-surface-500">{{ fieldDescription }}</p>
      }
    </label>
  }
  <p-checkbox
    [inputId]="fieldName"
    [pAutoFocus]="autoFocus()"
    [readonly]="viewOnly()"
    [(ngModel)]="data"
    [binary]="true"
    size="large"
  />
</div>
