@let presentation = field.params.presentation?.format;
@let dateFormat = presentation?.dateFormat;
@let showTime = presentation?.showTime;

@if (data !== undefined && data !== null) {
  <div class="field-cell__text-content">
    {{ data | dateFormat: dateFormat : showTime }}
  </div>
}
@if (selecting) {
  <p-overlay
    #calendar
    appendTo="body"
    [(visible)]="calendarVisible"
    [target]="eleRef.nativeElement"
    (onShow)="onMenuOpen()"
    (onHide)="onMenuClose()"
  >
    <p-datepicker
      [inline]="true"
      [ngModel]="updatedDate"
      (ngModelChange)="onDatePicked($event)"
      [dateFormat]="dateFormat"
      [showTime]="showTime"
      [showClear]="true"
    />
  </p-overlay>
}
