@if (data !== undefined && data !== null) {
  <div class="field-cell__text-content">
    @let presentation = field.params.presentation?.format;
    {{ data | dateFormat: presentation?.dateFormat : presentation?.showTime }}
  </div>
}
@if (selecting) {
  <p-overlay
    #calendar
    appendTo="body"
    [(visible)]="calendarVisible"
    [target]="eleRef.nativeElement"
    (onShow)="onMenuOpen()"
    (onHide)="onMenuClose()"
  >
    <p-datepicker
      [inline]="true"
      [ngModel]="data"
      (ngModelChange)="onDatePicked($event)"
      [showTime]="true"
      [showClear]="true"
    />
  </p-overlay>
}
