$chatbot-width: 30rem;
$transition-duration: 0.2s;

:host {
  .app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .app-main {
      position: relative;
      transition: padding-right $transition-duration;

      &.chatbot--visible {
        padding-right: $chatbot-width;

        .app-chatbot {
          right: 0;
        }
      }
    }

    .app-chatbot {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -$chatbot-width;
      width: $chatbot-width;
      transition: right $transition-duration;

      &.fullscreen {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
      }
    }
  }
}
