<p-popover #popover>
  <div class="w-3xs">
    <!-- Body -->
    <div>
      <div cdkDropList (cdkDropListDropped)="onDropped($event)" class="flex flex-col gap-2">
        <div
          *ngFor="let column of columns()"
          cdkDrag
          cdkDragLockAxis="y"
          class="flex items-center justify-between gap-6"
        >
          <div class="flex min-w-0 items-center gap-2">
            <!-- Drag handle -->
            <div cdkDragHandle>
              <img src="/icons/drag-dots.svg" />
            </div>

            <!-- Field name -->
            <div class="flex items-center gap-2">
              @if (column.primary) {
                <i class="pi pi-key" style="color: var(--p-primary-color)"></i>
              }
              <span class="font-medium break-all">
                {{ column.field.name }}
              </span>
              @if (column.field.required) {
                <i class="pi pi-asterisk text-red-500" style="font-size: 6px"></i>
              }
            </div>
          </div>

          <!-- Toggle visible -->
          <p-button
            variant="text"
            severity="secondary"
            [icon]="`pi ${column.hidden ? 'pi-eye-slash' : 'pi-eye'}`"
            (click)="toggleHidden(column)"
          />
        </div>
      </div>
    </div>
  </div>
</p-popover>

<p-button
  label="Customize"
  icon="pi pi-cog"
  variant="outlined"
  severity="secondary"
  (click)="popover.show($event)"
/>
