# Core Application
NODE_ENV=development
NAME=PolarBase
VERSION=v0.10.2-beta
HOSTNAME=0.0.0.0
PORT=3000
VERBOSE=false
DEBUG=false

# Security & Compliance
CORS_ORIGINS=localhost:4200,127.0.0.1:4200 # set "*" for all external sources
SUPER_ADMIN_API_KEY=ak_demo_polarbase_2026

# REST API
REST_ENABLED=true
REST_PREFIX=/rest
REST_RATE_LIMIT=100

# AGENT API
AGENT_ENABLED=true
AGENT_PREFIX=/agent
AGENT_RATE_LIMIT=10

# MCP Server
MCP_ENABLED=true
MCP_PREFIX=/mcp
MCP_RATE_LIMIT=10
MCP_DATABASE_PORT=8081
MCP_DATABASE_PATH=/database
MCP_BROWSER_PORT=8082
MCP_BROWSER_PATH=/browser
MCP_FETCH_API_PORT=8083
MCP_FETCH_API_PATH=/fetch-api

# Realtime Engine
REALTIME_ENABLED=true
REALTIME_PATH=/realtime
REALTIME_MAX_CLIENTS=1000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=P@ssw0rd2026
POSTGRES_DB=polarbase
POSTGRES_SSL=false
POSTGRES_MAX_CONNECTIONS=20

# AI Agents (LLM)
# Default model provider & ID (must exist in resolveModel map)
LLM_DEFAULT_PROVIDER=google
LLM_DEFAULT_MODEL=gemini-3-pro-preview

# Cloud Providers
# Set API keys for the providers you wish to enable.
OPENAI_API_KEY=sk-...
GEMINI_API_KEY=AIza...
ANTHROPIC_API_KEY=sk-ant-...
XAI_API_KEY=xai-...
OPENROUTER_API_KEY=sk-or-...

# Local / Custom Provider (OpenAI Compatible)
# Used for LM Studio, Ollama, DeepSeek Local, etc.
LOCAL_LLM_BASE_URL=http://localhost:1234/v1
LOCAL_LLM_API_KEY=not-needed