// Common Colors
$color-white: var(--p-surface-a, #ffffff);
$color-surface-c: var(--p-surface-c, #f4f4f7);
$color-surface-d: var(--p-surface-d, #eaeaea);
$color-surface-b: var(--p-surface-b, #f8f9fa);

$color-highlight-primary: var(--p-highlight-bg, var(--p-primary-50, #e6e9f0));
$color-highlight-orange: var(--p-highlight-bg, var(--p-orange-50, #fff7ed));

// PrimeNG Colors/Shared
$color-primary: var(--p-primary-color, #6366f1);
$color-primary-300: var(--p-primary-300, #a5b4fc);
$color-yellow-100: var(--p-yellow-100, #fffde7);
$color-yellow-500: var(--p-yellow-500, #fbc02d);
$color-red-100: var(--p-red-100, #ffebee);
$color-red-300: var(--p-red-300, #fca5a5);
$color-red-500: var(--p-red-500, #f44336);
$color-red-600: var(--p-red-600, #e53935);
$color-border: var(--p-surface-border, #d1d5db);

$border-width: 1px;
$border-color: $color-border;
$border-active-color: $color-primary;
$border-warning-color: $color-yellow-500;
$border-invalid-color: $color-red-500;
$border: $border-width solid $border-color;
$frozen-divider-drag-handle-height: 40px;
$header-height: 36px;
$header-action-cell-width: 56px;
$body-vertical-padding: 12px;
$footer-height: 42px;
$group-padding: 20px;
$group-header-height: 32px;
$index-cell-width: 64px;
$blank-row-height: 32px;

@mixin text-overflow-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-overflow-ellipsis-multi-line($max-line: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--truncate-line, $max-line);
  margin: 0;
  overflow: hidden;
  white-space: pre-line;
  word-break: break-word;
}

@mixin set-outline($color) {
  position: relative;
  z-index: 1;
  &::before {
    --cell-outline-color: #{$color};
    content: '';
  }
}

:host(.spreadsheet) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: 100%;
  min-height: 0;
  opacity: 0.99;
  overflow: hidden;
  contain: content;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;

  // NgDeep
  @at-root {
    ::ng-deep {
      .cdk-drag-placeholder {
        &.cell,
        .cell {
          background-color: $color-surface-c !important;
        }
      }

      &:has(.field-cell-editable--editing) {
        .fill-handle {
          display: none;
        }
      }
    }
  }

  // Structure
  @at-root {
    &.spreadsheet--right-scrolled {
      .frozen-divider {
        .frozen-divider__line {
          &::after {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .spreadsheet__toolbar,
    .spreadsheet__header,
    .spreadsheet__body,
    .spreadsheet__footer {
      width: 100%;
      opacity: 0.99;
    }

    .spreadsheet__toolbar {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      padding: {
        top: 16px;
        bottom: 16px;
      }
    }

    .spreadsheet__header {
      position: relative;
      display: flex;
      height: $header-height;
      min-height: $header-height;
      max-height: $header-height;
      background-color: $color-white;
    }

    .spreadsheet__body {
      position: relative;
      display: flex;
      height: 100%;
      min-height: 0;
      background-color: $color-white;

      .pane .pane-content {
        position: relative;
        top: $body-vertical-padding;
        bottom: $body-vertical-padding;
      }
    }

    .spreadsheet__footer {
      position: relative;
      display: flex;
      height: $footer-height;
      min-height: $footer-height;
      max-height: $footer-height;
      background-color: $color-surface-c;
    }
  }

  // Layout
  @at-root {
    .frozen-divider {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 6px;
      min-width: 6px;
      margin-left: -3px;
      will-change: transform;
      cursor: grab;

      &.frozen-divider--hover,
      &.frozen-divider--dragging {
        .frozen-divider__line {
          &::before {
            background-color: $border-active-color;
          }
        }
        .frozen-divider__drag-handle {
          display: block;
        }
      }

      &.frozen-divider--disabled {
        pointer-events: none;
      }

      &:has(.frozen-divider__head-line) {
        top: $header-height;
      }

      &:has(.frozen-divider__foot-line) {
        bottom: $footer-height;
      }

      &-drag-placeholder {
        position: absolute;
        left: -5px;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        width: 10px;
        min-width: 10px;
        height: 100%;
        border: 2px dashed $border-active-color;
        will-change: transform;
      }

      &-drag-overlay {
        position: fixed;
        inset: 0;
        z-index: 1;
      }

      .frozen-divider__line {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: 100%;

        &::before {
          content: '';
          display: block;
          width: 2px;
          min-width: 2px;
          height: 100%;
          background-color: $border-color;
        }

        &::after {
          content: '';
          position: absolute;
          left: 3px;
          top: 0;
          bottom: 0;
          width: 9px;
          visibility: hidden;
          opacity: 0;
          background-image: linear-gradient(90deg, #00000014 0, #fff0);
          transition:
            opacity 0.1s ease-out,
            visibility 0.1s ease-out;
        }

        &.frozen-divider__head-line {
          top: -$header-height;
          height: $header-height;
          min-height: $header-height;
          max-height: $header-height;
          pointer-events: none;
        }

        &.frozen-divider__body-line {
          top: 0;
          bottom: 0;
        }

        &.frozen-divider__foot-line {
          bottom: -$footer-height;
          height: $footer-height;
          min-height: $footer-height;
          max-height: $footer-height;
          &::before {
            display: none;
          }
        }
      }

      .frozen-divider__drag-handle {
        position: absolute;
        display: none;
        width: 100%;
        min-width: 100%;
        height: $frozen-divider-drag-handle-height;
        min-height: $frozen-divider-drag-handle-height;
        max-height: $frozen-divider-drag-handle-height;
        border-radius: 4px;
        background-color: $border-active-color;
        pointer-events: none;
        will-change: transform;
      }
    }

    .pane {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: inherit;

      &.pane-left {
        left: 0;
        z-index: 1;
        .cell {
          &:last-of-type {
            &::before {
              right: 2px;
            }
          }
        }
      }
      &.pane-right {
        right: 0;
        .cell {
          &:first-of-type {
            &::before {
              left: 2px;
            }
          }
        }
        .row {
          &.blank-row {
            right: $header-action-cell-width - 1px;
          }
        }
      }
      .pane-content {
        position: relative;
        width: 100%;
        height: 100%;
        will-change: transform;
      }
    }

    .box {
      height: 100%;
      max-height: 100%;
      border: {
        top: $border;
        bottom: $border;
      }
      &.box-left {
        border-left: $border;
      }
      &.box-right {
        border-right: $border;
      }
      &.box--radius {
        &.box-left {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
        &.box-right {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }

  // Components
  @at-root {
    &:has(.header-action-cell) {
      .group {
        &:not(.group-first-depth) {
          .row {
            &.blank-row {
              margin-right: 0;
            }
          }
        }
      }
    }

    &:not(:has(.blank-row)) {
      .row {
        &:last-of-type {
          .row-cell {
            border-bottom: none;
          }
        }
      }
    }

    .cell {
      position: relative;
      display: flex;
      align-items: center;
      padding: 6px 8px;
      border: {
        right: $border;
        bottom: $border;
      }
      will-change: width, min-width, max-width;

      &::before {
        position: absolute;
        inset: 1px;
        z-index: -1;
        display: block;
        box-shadow: 0 0 0 2px var(--cell-outline-color);
      }

      &.cell--active {
        background-color: $color-highlight-primary !important;
      }
      &.cell--highlight {
        background-color: $color-highlight-orange !important;
      }
      &.cell--filling {
        background-color: $color-surface-b !important;
      }
      &.cell--focusing {
        @include set-outline($border-active-color);
      }
      &.cell--warning {
        @include set-outline($border-warning-color);
      }
      &.cell--invalid {
        @include set-outline($border-invalid-color);
      }
      &.index-cell {
        width: $index-cell-width;
        min-width: $index-cell-width;
        max-width: $index-cell-width;
      }
      &.header-cell {
        column-gap: 4px;
        padding: 8px;
        border-bottom: none;
        cursor: grab;

        @at-root {
          .column-drag-placeholder {
            position: absolute;
            left: -1px;
            top: 0;
            bottom: 0;
            z-index: 1;
            width: 2px;
            background-color: $border-active-color;
            will-change: transform;
          }
          .column-drag-preview {
            background-color: #2424260d !important;
            > * {
              display: none;
            }
          }
          .column-drag-overlay {
            position: fixed;
            inset: 0;
            z-index: 1;
          }
        }

        &:hover {
          &:not(.index-cell) {
            background-color: $color-surface-c;
          }
        }
        &.cell--warning {
          background-color: $color-yellow-100 !important; // PrimeNG yellow light
        }
        &.cell--invalid {
          background-color: $color-red-100 !important; // PrimeNG red light
        }
        &.header-cell--grouping,
        &.header-cell--sorting {
          &::after {
            position: absolute;
            left: 0;
            right: 0;
            top: -2px;
            height: 3px;
          }
        }
        &.header-cell--grouping {
          &::after {
            content: '';
            background-color: $color-primary-300;
          }
        }
        &.header-cell--sorting {
          &::after {
            content: '';
            background-color: $color-red-300;
          }
        }
        &.header-cell--grouping.header-cell--sorting {
          &::after {
            content: '';
            background: linear-gradient(
              to right,
              $color-primary-300 0 50%,
              $color-red-300 50% 100%
            );
          }
        }
        &.index-cell {
          margin-left: auto;
        }
        &.header-action-cell {
          justify-content: center;
          width: $header-action-cell-width;
          min-width: $header-action-cell-width;
          max-width: $header-action-cell-width;
          border-right: none;
          cursor: pointer;
        }
        .header-cell__resize-handle {
          position: absolute;
          right: -2.5px;
          top: -1px;
          bottom: -1px;
          z-index: inherit;
          width: 4px;
          min-width: 4px;
          opacity: 0;
          background-color: $color-primary;
          cursor: col-resize;
          &:hover {
            opacity: 1;
          }
        }
      }

      &.footer-cell {
        border: none;
      }
      &.group-cell {
        position: absolute;
        top: 0;
        bottom: 0;
        border-right: none;
      }
    }

    .row {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      transform: none !important;
      will-change: height;

      @at-root {
        .row-drag-placeholder {
          position: absolute;
          left: -2px;
          right: 0;
          top: 1px;
          z-index: 1;
          height: 2px;
          background-color: $border-active-color;
          will-change: transform;
        }
        .row-drag-overlay {
          position: fixed;
          inset: 0;
          z-index: 1;
        }
      }

      &[row-size] {
        @mixin set-row-size-styles {
          .row-cell {
            &:not(.row-cell--selecting) {
              ::ng-deep {
                .field-cell {
                  ::ng-deep {
                    @content;
                  }
                }
              }
            }
          }
        }
        &[row-size='S'] {
          @include set-row-size-styles {
            &.field-cell__text-content {
              @include text-overflow-ellipsis;
            }
            &.field-cell__block-content {
              flex-wrap: nowrap;
              min-width: fit-content;
            }
          }
        }
        &[row-size='M'] {
          @include set-row-size-styles {
            &.field-cell__text-content {
              @include text-overflow-ellipsis-multi-line(2);
            }
          }
        }
        &[row-size='L'] {
          @include set-row-size-styles {
            &.field-cell__text-content {
              @include text-overflow-ellipsis-multi-line(4);
            }
          }
        }
        &[row-size='XL'] {
          @include set-row-size-styles {
            &.field-cell__text-content {
              @include text-overflow-ellipsis-multi-line(6);
            }
          }
        }
      }

      &.row--hover {
        &:not(.row--pending) {
          .row__select-handle,
          .row__drag-handle,
          .row__expand-handle {
            visibility: visible;
            opacity: 1;
          }
          .row__index-handle {
            visibility: hidden;
            opacity: 0;
          }
        }
        .row-cell {
          background-color: $color-surface-c;
        }
      }
      &.row--selecting {
        .row__select-handle,
        .row__drag-handle {
          visibility: visible;
          opacity: 1;
        }
        .row__index-handle {
          visibility: hidden;
          opacity: 0;
        }
      }
      &.blank-row {
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        height: $blank-row-height;
        min-height: $blank-row-height;
        max-height: $blank-row-height;
        border-bottom-left-radius: 5px;
        overflow: hidden;

        &[disabled='true'] {
          pointer-events: none;
        }

        .cell.index-cell {
          z-index: 1;
          border-bottom-left-radius: 5px;
          cursor: pointer;
          &[disabled='true'] {
            color: var(--text-color-secondary, #b2b2b2);
          }
          &:not([disabled='true']) {
            &:hover {
              background-color: $color-surface-c;
            }
          }
        }
        .row-cell {
          width: 100%;
          border: {
            right: none;
            bottom: none;
          }
        }
      }
      &:not(.blank-row) {
        .row-cell {
          align-items: unset;
        }
      }
      .row-cell {
        position: absolute;
        top: 0;
        bottom: 0;

        &.row-cell--selecting {
          z-index: 2;
          background-color: $color-white !important;

          &:has(.field-cell) {
            padding: 2px;
            height: fit-content;
            min-height: 100%;
            max-height: 124px;
            ::ng-deep {
              .field-cell {
                padding: 4px 6px 3px;
                overflow-y: auto;
                .field-cell__block-content {
                  flex-wrap: wrap;
                }
              }
            }
          }
        }
      }
      .row__select-handle,
      .row__drag-handle,
      .row__expand-handle {
        visibility: hidden;
        opacity: 0;
      }
      .row__index-handle {
        font-size: 11px;
        font-weight: 500;
      }
      .row__select-handle {
        position: absolute;
        display: flex;
        justify-content: center;
      }
      .row__drag-handle {
        position: absolute;
        left: 2px;
        top: 8px;
        z-index: 2;
        cursor: grab;
      }
      .row__expand-handle {
        position: absolute;
        right: 6px;
        top: 9px;
        cursor: pointer;
      }
    }

    .group {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;

      &.group-last-depth {
        &:not(.group-first-depth) {
          box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.15);
        }
      }
      &.group-left {
        &:not(.group-last-depth) {
          padding-left: $group-padding;
        }
      }
      &.group-right {
        &:not(.group-last-depth) {
          padding-right: $group-padding;
        }
      }
      &.group--collapsed {
        .group__header {
          .group-cell {
            border-bottom: none;
          }
        }
        .group__body {
          display: none;
        }
      }
      .group__header,
      .group__body {
        width: 100%;
      }
      .group__header {
        position: relative;
        display: flex;
        height: $group-header-height;
        min-height: $group-header-height;
        max-height: $group-header-height;
      }
      .group__body {
        height: 100%;
        min-height: 0;
      }
    }
  }

  // Others
  @at-root {
    .index-block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      min-width: 38px;
      max-width: 38px;
      min-height: 20px;
    }
    .summary-block {
      position: absolute;
      z-index: 1;
      display: flex;
      min-width: min-content;
      border-radius: 4px;
      overflow: hidden;
      background-color: $color-white;

      .summary-block__content {
        padding: 4px 3px 4px 6px;
        font-size: 12px;
        white-space: nowrap;
      }
      .summary-block__btn-toggle {
        display: flex;
        align-items: center;
        padding: {
          left: 4px;
          right: 4px;
        }
        cursor: pointer;
        &:hover {
          background-color: $border-active-color;
          color: $color-white;
        }
      }
    }

    .calculation-block {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 4px;
      padding: inherit;
      color: var(--text-color-secondary, #666);
      font-size: 12px;

      &:not(.calculation-block--viewonly) {
        opacity: 0;
        cursor: pointer;
        &:hover,
        &.calculation-block--active {
          opacity: 1;
        }
        &:hover {
          background-color: $color-surface-d;
        }
      }
    }

    .empty-block {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .fill-handle {
      position: absolute;
      z-index: 1;
      height: 4px;
      width: 4px;
      outline: 1px solid $border-active-color;
      background-color: $color-white;
      transform: translate(-3px, -3px);
      pointer-events: auto;
      cursor: crosshair;

      &-wrapper {
        position: absolute;
        top: $header-height;
        bottom: $footer-height;
        left: 0;
        right: 0;
        overflow: hidden;
        pointer-events: none;
      }
    }
  }
}
