@if (!isInputting) {
  <div class="flex items-start justify-between w-full gap-1">
    @if (data !== undefined && data !== null) {
      <div class="field-cell__text-content">
        {{ jsonText }}
      </div>
    }
    @if (selecting) {
      <json-editor-drawer
        [(visible)]="visibleJSONEditor"
        [value]="jsonText"
        (onSave)="save($any($event))"
      />
      <div
        class="hover:bg-surface-50 text-surface-500 cursor-pointer w-5 h-5 rounded-md flex items-center justify-center"
        (click)="visibleJSONEditor = true"
      >
        <i class="icon icon-maximize-2"></i>
      </div>
    }
  </div>
} @else {
  <input-box
    type="text"
    [content]="jsonText"
    (edited)="onInputBoxEdited($event)"
    (input)="onInputBoxInput($event)"
    (focus)="onInputBoxFocus($event)"
    (blur)="onInputBoxBlur($event)"
    (contentChange)="onInputBoxChange($event)"
  />
}
