<p-toast appendTo="body" />

<p-confirmdialog appendTo="body" styleClass="max-w-100">
  <ng-template #message let-message>
    <div class="flex flex-col gap-4">
      <div>{{ message.message }}</div>
      <div class="flex items-center gap-2">
        <p-checkbox
          [(ngModel)]="isCascadeDeleteEnabled"
          inputId="cascade"
          name="size"
          value="true"
          [binary]="true"
        />
        <label for="cascade" class="text-sm">
          Drop table with cascade?
          <p class="text-surface-500">Deletes the table and its dependent objects</p>
        </label>
      </div>
      @if (isCascadeDeleteEnabled) {
        <p-message severity="warn" class="w-full">
          <p class="text-xs">
            This will also delete all dependent objects such as views, foreign keys, etc.
          </p>
        </p-message>
      }
      <div class="flex flex-col gap-1">
        <label for="confirmation" class="text-sm font-medium">
          Enter the table name <b>{{ tableToConfirm }}</b> to confirm:
        </label>
        <input pInputText [(ngModel)]="tableToDelete" id="confirmation" />
      </div>
    </div>
  </ng-template>
</p-confirmdialog>

<p-menu #tableMenu [model]="menuItems" [popup]="true" appendTo="body" />

<table-editor-drawer
  [(visible)]="visibleTableEditorDrawer"
  [table]="updatedTable"
  [mode]="updatedTableMode"
  (onSave)="onTableEditorSave($event)"
/>

<div class="flex items-center justify-between pl-4 pr-2 py-2 border-b-1 border-surface-200">
  <div>Tables</div>
  <div class="flex">
    <p-button
      icon="icon icon-refresh-cw"
      severity="secondary"
      [text]="true"
      pTooltip="Refresh table list"
      tooltipPosition="bottom"
      [disabled]="isLoading()"
      (click)="refreshTables()"
    />
    <p-button
      icon="icon icon-plus"
      severity="secondary"
      [text]="true"
      pTooltip="Add new table"
      tooltipPosition="bottom"
      [disabled]="isLoading()"
      (click)="addNewTable()"
    />
  </div>
</div>
<div class="p-4">
  <p-iconfield>
    <p-inputicon class="icon icon-search" />
    <input
      type="text"
      pInputText
      placeholder="Search table..."
      [(ngModel)]="searchQuery"
      (input)="searchTable()"
      fluid
    />
  </p-iconfield>
</div>
@if (isLoading()) {
  <div class="flex flex-col px-4 gap-2">
    <p-skeleton height="3rem" />
    <p-skeleton height="3rem" />
    <p-skeleton height="3rem" />
  </div>
} @else {
  <ul class="list-none p-0 m-0 overflow-y-auto max-h-full">
    @for (table of filteredTables(); track table.name) {
      <li (click)="selectTable(table)">
        <a
          pRipple
          class="group flex items-center cursor-pointer px-4 py-2 text-surface-700 hover:bg-gray-100 duration-150 transition-colors p-ripple"
          [class.bg-gray-100]="table.name === tblService.activeTable()?.name"
        >
          <div class="flex flex-1 w-full">
            <i class="icon icon-table-2 text-surface-500 mr-2 mt-0.5"></i>
            <div class="flex-1 space-y-1 overflow-hidden">
              @let uiName = table.presentation?.uiName || table.name;
              <p class="font-medium white-space-nowrap truncate" [attr.title]="uiName">
                {{ uiName }}
                @if (table.presentation?.uiName) {
                  <span class="text-surface-500 text-xs">{{ table.name }}</span>
                }
              </p>
              <p class="text-surface-500 text-xs">
                @if (table.comment) {
                  {{ table.comment }}
                } @else {
                  <i>No description</i>
                }
              </p>
            </div>
          </div>
          <p-button
            icon="icon icon-ellipsis-vertical"
            severity="secondary"
            size="small"
            [text]="true"
            [disabled]="isLoading()"
            (click)="openTableActionMenu($event, table, tableMenu)"
            class="invisible group-hover:visible"
          />
        </a>
      </li>
    } @empty {
      <p class="text-center text-sm text-surface-500 italic py-2">
        No table found.
        <a class="font-medium hover:underline text-blue-500 cursor-pointer" (click)="addNewTable()"
          >Create a new table?</a
        >
      </p>
    }
    <div class="mb-5"></div>
  </ul>
}
