<ng-template #fieldTmpl let-field="field" let-first="first">
  <div class="grid grid-cols-3 w-full gap-12">
    <label [attr.for]="field.name" class="col-span-1">
      <div class="flex items-center gap-2">
        @if (field.params.primary) {
          <i class="icon icon-key rotate-45" style="color: var(--p-primary-color)"></i>
        } @else {
          <i [class]="`${field.icon}`"></i>
        }
        <p class="font-medium">{{ field.name }}</p>
      </div>
      <p class="text-surface-500 text-sm">
        @if (field.description) {
          {{ field.description }}
        } @else {
          <i>No description</i>
        }
      </p>
    </label>
    @switch (field.dataType) {
      @case (DataType.Text) {
        <text-field-editor
          [field]="field"
          [(data)]="updatedRecord[field.name]"
          [autoFocus]="first"
          [viewOnly]="viewOnly()"
          [label]="false"
          class="col-span-2"
        />
      }
      @case (DataType.LongText) {
        <long-text-field-editor
          [field]="field"
          [(data)]="updatedRecord[field.name]"
          [autoFocus]="first"
          [viewOnly]="viewOnly()"
          [label]="false"
          class="col-span-2"
        />
      }
      @case (DataType.Integer) {
        <integer-field-editor
          [field]="field"
          [(data)]="updatedRecord[field.name]"
          [autoFocus]="first"
          [viewOnly]="viewOnly()"
          [label]="false"
          class="col-span-2"
        />
      }
      @case (DataType.Number) {
        <number-field-editor
          [field]="field"
          [(data)]="updatedRecord[field.name]"
          [autoFocus]="first"
          [viewOnly]="viewOnly()"
          [label]="false"
          class="col-span-2"
        />
      }
      @case (DataType.Select) {
        <select-field-editor
          [field]="field"
          [(data)]="updatedRecord[field.name]"
          [autoFocus]="first"
          [viewOnly]="viewOnly()"
          [label]="false"
          class="col-span-2"
        />
      }
      @case (DataType.Checkbox) {
        <checkbox-field-editor
          [field]="field"
          [(data)]="updatedRecord[field.name]"
          [autoFocus]="first"
          [viewOnly]="viewOnly()"
          [label]="false"
          class="col-span-2"
        />
      }
      @case (DataType.Date) {
        <date-field-editor
          [field]="field"
          [(data)]="updatedRecord[field.name]"
          [autoFocus]="first"
          [viewOnly]="viewOnly()"
          [label]="false"
          class="col-span-2"
        />
      }
      @case (DataType.JSON) {
        <json-field-editor
          [field]="field"
          [(data)]="updatedRecord[field.name]"
          [autoFocus]="first"
          [viewOnly]="viewOnly()"
          [label]="false"
          class="col-span-2"
        />
      }
    }
  </div>
</ng-template>

<p-drawer
  [(visible)]="visible"
  position="right"
  [header]="mode() === 'view' ? 'View Record' : mode() === 'edit' ? 'Edit Record' : 'Add Record'"
  styleClass="!w-150 custom-drawer"
>
  <ng-template #content>
    <p-toast />
    <div class="p-5">
      <div class="flex flex-col gap-12">
        @for (field of requiredFields(); let first = $first; track field.name) {
          <ng-container *ngTemplateOutlet="fieldTmpl; context: { field, first }" />
        }
      </div>
    </div>
    <p-divider />
    <div class="p-5">
      <div class="mb-10">
        <p class="text-xl font-medium">Optional Fields</p>
        <p class="text-surface-500">These are columns that do not need any value</p>
      </div>
      <div class="flex flex-col gap-12">
        @for (field of optionalFields(); track field.name) {
          <ng-container *ngTemplateOutlet="fieldTmpl; context: { field }" />
        }
      </div>
    </div>
  </ng-template>
  <ng-template #footer>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visible.set(false)" />
      <p-button label="Save" [loading]="isSaving()" (click)="save()" />
    </div>
  </ng-template>
</p-drawer>
