<p-confirmdialog>
  <ng-template #message let-message>
    <div class="flex flex-col gap-4">
      <div>{{ message.message }}</div>
      <div class="flex items-center gap-2">
        <p-checkbox
          [(ngModel)]="isCascadeDeleteEnabled"
          inputId="cascade"
          name="size"
          value="true"
          [binary]="true"
        />
        <label for="cascade" class="text-sm">
          Drop table with cascade?
          <p class="text-surface-500">Deletes the table and its dependent objects</p>
        </label>
      </div>
      @if (isCascadeDeleteEnabled) {
        <p-message severity="warn" class="w-xs">
          <p>This will also delete all dependent objects such as views, foreign keys, etc.</p>
        </p-message>
      }
    </div>
  </ng-template>
</p-confirmdialog>

<p-menu #tableMenu [model]="menuItems" [popup]="true" />

<p-drawer
  [(visible)]="visibleTableEditorDrawer"
  position="right"
  [header]="updatedTableMode === 'edit' ? `Edit table: ${updatedTable.tableName}` : 'New table'"
  [modal]="false"
  styleClass="!w-150 custom-drawer"
>
  <ng-template #content>
    <div class="flex flex-col gap-12">
      <div class="grid grid-cols-3 w-full gap-12">
        <label for="name" class="col-span-1">
          <p class="font-medium">Name</p>
        </label>
        <input
          pInputText
          inputId="name"
          [pAutoFocus]="true"
          [(ngModel)]="updatedTable.tableName"
          class="col-span-2"
          placeholder="Input here..."
        />
      </div>
      <div class="grid grid-cols-3 w-full gap-12">
        <label for="description" class="col-span-1">
          <p class="font-medium">Description</p>
        </label>
        <textarea
          pTextarea
          inputId="description"
          [(ngModel)]="updatedTable.tableComment"
          rows="5"
          class="col-span-2"
          placeholder="Input here..."
        ></textarea>
      </div>
    </div>
  </ng-template>
  <ng-template #footer>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visibleTableEditorDrawer = false" />
      <p-button label="Save" [loading]="isSaving" (click)="saveUpdatedTable()" />
    </div>
  </ng-template>
</p-drawer>

<div class="flex items-center justify-between px-4 py-2 border-b-1 border-surface-200">
  <div>Tables</div>
  <div class="flex">
    <p-button
      icon="pi pi-refresh"
      severity="secondary"
      size="small"
      [text]="true"
      [disabled]="isLoading"
      (click)="refreshTables()"
    />
    <p-button
      icon="pi pi-plus"
      severity="secondary"
      size="small"
      [text]="true"
      [disabled]="isLoading"
      (click)="visibleTableEditorDrawer = true"
    />
  </div>
</div>
<div class="p-4">
  <p-iconfield>
    <p-inputicon class="pi pi-search" />
    <input
      class="w-full"
      type="text"
      pInputText
      placeholder="Search"
      [(ngModel)]="searchQuery"
      (ngModelChange)="onTableSearch($event)"
    />
  </p-iconfield>
</div>
<ul class="list-none p-0 m-0 overflow-y-auto max-h-full">
  @for (table of filteredTables(); track table.tableName) {
    <li (click)="onTableSelected(table)">
      <a
        pRipple
        class="flex cursor-pointer p-4 text-surface-700 hover:bg-surface-100 duration-150 transition-colors p-ripple"
        [class.bg-surface-100]="table.tableName === tblService.selectedTable()?.tableName"
      >
        <i class="pi pi-table text-surface-500 mr-2 mt-0.5"></i>
        <div class="flex-1">
          <p class="font-medium">{{ table.tableName }}</p>
          <p class="font-light text-surface-500 text-xs">
            @if (table.tableComment) {
              {{ table.tableComment }}
            } @else {
              <i>No description</i>
            }
          </p>
        </div>
        <p-button
          icon="pi pi-ellipsis-v"
          severity="secondary"
          size="small"
          [text]="true"
          [disabled]="isLoading"
          (click)="openTableActionMenu($event, table, tableMenu)"
        />
      </a>
    </li>
  }
</ul>
