<div class="flex items-center justify-between px-4 py-2">
  <div>Tables</div>
  <p-button icon="pi pi-search" severity="secondary" [text]="true" />
</div>
<p-divider style="margin: 0" />
<ul class="list-none px-0 py-2 m-0 overflow-y-auto max-h-full">
  @for (table of tables(); track table.tableName) {
    <li (click)="onTableSelected(table)">
      <a
        pRipple
        class="flex cursor-pointer p-4 text-surface-700 hover:bg-surface-100 duration-150 transition-colors p-ripple"
        [class.bg-surface-100]="table.tableName === tblService.selectedTable()?.tableName"
      >
        <i class="pi pi-table text-surface-500 mr-2 mt-0.5"></i>
        <div>
          <p class="font-medium">{{ table.tableName }}</p>
          @if (table.tableComment) {
            <i class="font-light text-gray-500 text-xs">
              {{ table.tableComment }}
            </i>
          }
        </div>
      </a>
    </li>
  }
</ul>
