<p-menu #insertMenu [model]="insertMenuItems" [popup]="true" appendTo="body" />

@if (columns()) {
  <column-editor-drawer
    [(visible)]="visibleColumnEditor"
    [table]="tblService.selectedTable()"
    [column]="updatedColumn"
    [field]="updatedColumnField"
    [mode]="updatedColumnMode"
    (onSave)="onRecordSave($event)"
  />
  <record-editor-drawer
    [(visible)]="visibleRecordEditor"
    [fields]="fields()"
    [record]="updatedRecord"
    [mode]="updatedRecordMode"
    (onSave)="onRecordSave($event)"
  />
  <spreadsheet
    [config]="config()"
    [columns]="columns()"
    [rows]="rows()"
    (columnAction)="onColumnAction($event)"
    (rowAction)="onRowAction($event)"
    (cellAction)="onCellAction($event)"
    >`
    <ng-template #toolbar>
      <div class="flex">
        <p-button icon="icon icon-chevron-down" label="Insert" (click)="insertMenu.show($event)" />
        <p-divider layout="vertical" />
      </div>
    </ng-template>
  </spreadsheet>
}
