@if (columns()) {
  <column-editor-drawer
    [(visible)]="visibleColumnEditor"
    [table]="tblService.selectedTable()"
    [column]="updatedColumn"
    [field]="updatedColumnField"
    [mode]="updatedColumnMode"
    (onSave)="onColumnSave($any($event))"
  />
  <record-editor-drawer
    [(visible)]="visibleRecordEditor"
    [fields]="fields()"
    [record]="updatedRecord"
    [mode]="updatedRecordMode"
    (onSave)="onRecordSave($event)"
  />
  <spreadsheet
    [config]="config()"
    [columns]="columns()"
    [rows]="rows()"
    (columnAction)="onColumnAction($event)"
    (rowAction)="onRowAction($event)"
    (cellAction)="onCellAction($event)"
    >`
    <ng-template #toolbar>
      <div class="flex">
        <p-splitbutton
          label="Insert"
          icon="icon icon-plus"
          [model]="insertMenuItems"
          (onClick)="addNewRecord()"
        />
        <p-divider layout="vertical" />
      </div>
    </ng-template>
  </spreadsheet>
}
