$sidebar-width: 20rem;
$transition-duration: 0.2s;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .base {
    position: relative;
    padding-left: $sidebar-width;
    transition: padding-left $transition-duration;

    &.sidebar--invisible {
      padding-left: 0;

      .base-sidebar {
        left: -$sidebar-width;
      }
    }

    .base-sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: $sidebar-width;
      transition: left $transition-duration;
    }
  }
}
