@let fieldName = field().name;
@let fieldDescription = field().description;

<div class="flex flex-col gap-1 w-full">
  @if (label() !== false) {
    <label class="text-sm" [attr.for]="fieldName">
      <p class="flex items-center gap-1">
        <i [class]="field().icon"></i>
        {{ fieldName }}
        @if (field().required) {
          <i class="icon icon-asterisk text-red-500"></i>
        }
      </p>
      @if (fieldDescription) {
        <p class="text-xs text-surface-500">{{ fieldDescription }}</p>
      }
    </label>
  }
  <p-inputnumber
    #input="ngModel"
    [required]="field().required"
    [min]="field().minValue"
    [max]="field().maxValue"
    [inputId]="fieldName"
    [placeholder]="placeholder() ?? 'Input here...'"
    [pAutoFocus]="autoFocus()"
    [readonly]="viewOnly()"
    [(ngModel)]="data"
    [useGrouping]="false"
    mode="decimal"
    [minFractionDigits]="0"
    [maxFractionDigits]="5"
    fluid
  />
  @if (input.invalid && input.touched) {
    <p-message severity="error" size="small" variant="simple">
      @if (input.hasError('required')) {
        {{ fieldName }} is required.
      }
    </p-message>
  }
</div>
