:host {
  display: block;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  min-height: 0;
  max-height: 100%;

  &:empty {
    &[placeholder] {
      &::before {
        content: attr(placeholder);

        display: block;

        color: #b2b2b2;

        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }

  &[type='number'],
  &[type='integer'],
  &[type='positive-number'],
  &[type='positive-integer'] {
    width: fit-content;
    min-width: 100%;
    max-width: none;

    text-align: right;
    white-space: nowrap;
  }
}
