$transition-duration: 0.2s;

:host {
  .app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .app-main {
      position: relative;
      transition: padding-right $transition-duration;
    }
  }
}
