<topbar>
  <div class="flex gap-2 items-center text-sm">
    <div class="text-surface-500">Bases</div>
    <div class="text-surface-300">/</div>
    <div class="flex items-center gap-1">
      <i class="icon icon-box"></i>
      public
    </div>
  </div>
  <div class="flex gap-2 items-center">
    <p-button
      icon="icon icon-book-open-text"
      severity="secondary"
      pTooltip="API Docs"
      tooltipPosition="bottom"
      (click)="openAPIDocs()"
    />
    <p-button
      icon="icon icon-sparkles"
      severity="info"
      pTooltip="AI Chatbot"
      tooltipPosition="bottom"
      [outlined]="true"
      (click)="baseStudio.toggleChatbot()"
    />
  </div>
</topbar>

<base-studio #baseStudio />
