<topbar>
  <div left class="flex gap-2 items-center text-sm">
    <div class="text-surface-500">Bases</div>
    <div class="text-surface-300">/</div>
    <div class="flex items-center gap-1">
      <i class="icon icon-box"></i>
      public
    </div>
  </div>
  <div center>
    <p-selectbutton
      [options]="options"
      [ngModel]="view()"
      (ngModelChange)="navigate($event)"
      [unselectable]="true"
    >
      <ng-template #item let-item>
        <div class="flex items-center gap-1">
          <i [class]="item.icon"></i>
          {{ item.label }}
        </div>
      </ng-template>
    </p-selectbutton>
  </div>
  <div right class="flex gap-2 items-center">
    @if (loadingService.isLoading()) {
      <p-progressspinner
        [style]="{ width: '16px', height: '16px' }"
        strokeWidth="6"
        fill="transparent"
        animationDuration=".8s"
      />
    }
    @if (view() === 'studio') {
      <p-button
        icon="icon icon-book-open-text"
        severity="secondary"
        pTooltip="API Docs"
        tooltipPosition="bottom"
        (click)="openAPIDocs()"
      />
      <p-button
        icon="icon icon-sparkles"
        severity="info"
        pTooltip="AI Chatbot"
        tooltipPosition="bottom"
        [outlined]="true"
        (click)="toggleChatbot()"
      />
    }
  </div>
</topbar>

<router-outlet></router-outlet>
